/* HERO STARTS */
main {   
    background-color: beige;
    background-image: url('../../img/header/bg-people.jpg');
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}
main .container {
padding: 0;

}
.bg-overlay{
    background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
    opacity: 0.94;
}

.header-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-block a{
   
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    padding: 20px 30px;
    text-decoration: none;
    color: #fff
}

.fa.fa-caret-down{
    margin-top: 4px;
}

.hero h1{
    font-family: 'Poppins',sans-serif;
    line-height: 1.2;
    font-size: 4em;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
}

.hero p {
    font-family: 'Poppins',
    sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 24px 0;
}

.hero .right-column{
    background-color: #ffffff;
    padding: 48px;
}
.right-column h3{ 
    font-family: 'Poppins',sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #222;
    margin: 0;
}
.right-column .fill-all{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #666666;
    margin: 16px 0;
}

.right-column a{
    font-family: 'Poppins', sans-serif;
    color: #222222;
}


.policy{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.right-column .policy > a{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-decoration: underline;
    color: #222222;
    padding: 0;
}
/* HERO ENDS */

/* PREMIUM STARTS */
.fa.fa-lightbulb-o{
    color:#7c4fe0;
}
.word-color {
color:#7c4fe0 ;
font-family: 'Poppins',
sans-serif;
font-size: 14px;
line-height: 14px;
text-transform: capitalize;
}
.premium-h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #222222;
    margin: 0;
}

.premium-p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 24px;
    color: #565656;
}

.grid-cell{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border: 2px solid black;
    padding: 48px;
}

.premium-img{
    display: flex;
    justify-content: center;
    height: 48px;
    margin-bottom: 16px;
}
.premium-grid-title{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #222222;
    margin: 0 0 8px 0;
}
.premium-grid-p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #565656;
    margin: 0;
}



/* PREMIUM ENDS */
